.content8 {
	margin-top: 50px;
	padding-bottom: 40px;
	padding-top: 20px;
	padding-right: 147px;
	margin-bottom: 20px;
}



.content8 .text8 {
	text-align: center;
	margin-left: 250px;
}

.content8 .text8 p {
	font-size: 30px;
}
.content8 a {
	color: #00bec9;
	text-decoration: none;
}

.content8 #doctor4 div .date{
	color: #00bec9;
}

.content8 .anhcontent8 {
	width: 100%;
	text-align: left;
    font-size: 19px;
}

.content8 #doctor4 {
	width: 26%;
	clear: both;
}

.content8 #doctor5 {
	width: 26%;
	float: right;
	clear: left;
}

.content8 #doctor6 {
	width: 26%;
	float: right;
}

.content8 #doctor4{
	float: left;
	position: absolute;
	border: 1px solid;
    margin-left: 120px;
    padding-bottom: 5px;
}

.content8  div>.thutle {
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 5px;
}

.content8 #doctor4 img {
	width: 353px;
    margin-left: -1px;
    margin-top: -1px;
}

.content8 #doctor5 {
	margin-right: 120px;
    border: 1px solid #fff;
    box-shadow: 5px 10px 18px #ccc;
    overflow: hidden;
    position: absolute;
    float: right;
    margin-left: 560px;
}

.content8 #doctor6 {
	border: 1px solid;
    margin-right: -114px;
    padding-right: 13px;
}

.content8 #doctor6 img {
	width: 328px;
    margin-left: -1px;
    margin-top: -1px;
}
