header {
	background-color: #daac00;
	overflow: hidden;
}

.logo {
	margin-left: 150px;
	width: 25%;
	float: left;
}

.logo a>img {
	padding-top: 20px
}

.menu {
	width: 75%;
	float: right;
	margin-top: -50px;
	margin-bottom: 10px;
	text-align: center;
}

.menu ul {
	display: inline-flex;
}

.menu li {
	list-style-type: none;
	margin-right: 50px;
}

.menu li a {
	text-decoration: none;
	text-align: center;
	color: white;
}

header .menu>form {
	display: inline-flex;
	box-shadow: 6px 10px 2px 1px #cca100;
}

.menu form input{
	background-color: #fcc302;
	border: 1px solid #fcc302;
	padding: 7px;
	
}

.menu form button {
	background-color: #00bec9;
	width: 35px;
	height: 30px;
	border: none;
	padding: 0
}

.menu form button>img {
	height: 33px;
}

.menu form input:focus {
	border: none;
}
